
.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.scrollhide-nav.hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

#container {
    width: 900px;
    margin: 0 auto;
    position:relative;
    padding-top:50px;
}

 {
height: 50px;
background: #b7d84b;
position:fixed;
z-index:9999;
width:100%;
}

nav
{
  background-image: url("https://ecologyexterminating.com/wp-content/themes/local_microsites/images/maps/bayside-QN11.jpg");
}
